<!DOCTYPE html>
<html>
  <head>
    <title>PhotogramSignin2</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <ul>
    <% if session[:current_user_id] == nil %>
      <li>
        <a href="/user_sign_in">
          Sign In
        </a>
      </li>
      <li>
        <a href="/user_sign_up">
          Sign Up
        </a>
      </li>
    <% end %>
    <% if session[:current_user_id] != nil %>
      <li>
        <%= User.where({:id => session[:current_user_id]})[0].username %>
      </li>
      <li>
        <a href="/user_sign_out">
          Sign Out
        </a>
      </li>
    <% end %>
    <li>
      <a href="/users">
        Users
      </a>
    </li>
    <li>
      <a href="/photos">
        Photos
      </a>
    </li>
    <% if session[:current_user_id] != nil %>
      <li>
        <%= session[:current_user_id] %>
      </li>
    <% end %>
  </ul>
    <%= yield %>
  </body>
</html>
